[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tsubasa810
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tsubasa810
	label-Verified = -1..+1 group user/tsubasa810
	push = group user/tsubasa810
	read = group user/tsubasa810
	rebase = group user/tsubasa810
	removeReviewer = group user/tsubasa810
	submit = group user/tsubasa810
[access "refs/heads/*"]
	create = group user/tsubasa810
	push = +force group user/tsubasa810
	pushMerge = group user/tsubasa810
	read = group user/tsubasa810
[access "refs/tags/*"]
	push = group user/tsubasa810
	push = +force group user/tsubasa810
